<?php
$finder = \PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->notPath('#^build/.*#')
    ->notPath('#^docker/.*#')
    ->notPath('#^tests/_aop_cache/.*#')
    ->notPath('#^.ppm/.*#');

return \Ely\CS\Config::create()
    ->setFinder($finder);
